.perks {
    
    .perks-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .perks-title-back {
            .content {
            font-weight: bold;
            font-size: 144px;
            line-height: 166px;
            color: transparent;
            -webkit-text-stroke: 1px white;
            text-align: right;
            position: relative;
            right: -100px;
            }
            overflow: hidden;
        }

        .perks-back1 {
            position: absolute;
            bottom: -24px;
            left: 150px;
            z-index: 1;
            overflow: hidden;
            
            img {
                max-width: 100%;
            }
        }

        .perks-header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-top: 72px;
            padding-bottom: 72px;

            .perks-header-light {
                img {
                    vertical-align: middle;
                }
            }

            .perks-header-title {
                font-weight: bold;
                font-size: 48px;
                line-height: 55px;
                
                color: #38B6FF;
            }
        }

        .perks-cards {
            padding: 0px 120px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 80px;
            color: #D9D9D9;

            .perks-card {
                .perks-card-image {
                    text-align: center;
                }

                .perks-card-title {
                    padding-top: 40px;
                    padding-bottom: 48px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                }

                .perks-card-content {
                    font-size: 24px;
                    line-height: 29px;
                    font-family: 'Glacial Indifference';
                    color: #D9D9D9;
                }

                .perks-card-clue {
                    padding-bottom: 32px;                
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .perks {
        .perks-container {
    
            .perks-back1 {
                left: 10vw;
            }

            .perks-cards {
                padding: 0px 5vw;
                gap: 5vw;
            }
        }
    }
}

@media (max-width: 991px) {
    
    .perks {
        .perks-container {
            .perks-cards {
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
        }
    }
}