.partnership {
    overflow: hidden;

    .partnership-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        color: #D9D9D9;
        position: relative;

        .partnership-title-back {
            font-weight: bold;
            font-size: 144px;
            line-height: 166px;
            text-align: right;
            padding-bottom: 50px;
            padding-top: 144px;
            color: transparent;
            -webkit-text-stroke: 1px white;
            position: relative;
            right: -200px;
        }

        .partnership-back4 {
            position: absolute;
            top: 64px;
            right: 0;
        }

        .partnership-back-circle {
            position: absolute;
            left: -300px;
            bottom: -100px;
        }

        .partnership-leaf-top {
            position: absolute;
            top: 448px;
            left: 144px;
        }

        .partnership-leaf-bottom {
            position: absolute;
            bottom: 448px;
            right: 144px;
        }

        .partnership-header {
            text-align: center;

            .partnership-header-title {
                padding-top: 50px;
                padding-bottom: 40px;
                font-weight: bold;
                font-size: 48px;
                line-height: 55px;
                
                color: #38B6FF;
            }

            .partnership-header-label {
                font-family: 'Glacial Indifference';
                font-size: 24px;
                line-height: 29px;
                padding-bottom: 96px;
            }
        }

        .partnership-items {
            padding: 0px 240px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            align-items: center;
            row-gap: 64px;

            .partnership-item {
                text-align: center;
            }
        }

        .partnership-image {
            text-align: center;
            padding-top: 128px;
            padding-bottom: 180px;
        }

        .partnership-title-back-bottom {
            font-weight: bold;
            font-size: 144px;
            line-height: 166px;
            color: transparent;
            -webkit-text-stroke: 1px white;
            padding-bottom: 96px;
            position: relative;
            left: -60px;
        }
    }
}

@media (max-width: 1440px) {
    .partnership {
        .partnership-container {
    
            .partnership-title-back {
                right: -14vw;
            }
    
            .partnership-back4 {
                top: 4.5vw;
            }
    
            .partnership-back-circle {
                left: -20vw;
                bottom: -7vw;
            }
    
            .partnership-leaf-top {
                top: 30vw;
                left: 10vw;
            }
    
            .partnership-leaf-bottom {
                bottom: 30vw;
                right: 10vw;
            }

            .partnership-items {
                padding: 0px 10vw;
                row-gap: 4.5vw;
            }
    
            .partnership-title-back-bottom {
                left: -4vw;
            }
        }
    }
}

@media (max-width: 991px) {
    .partnership {
        .partnership-container {

            .partnership-items {
                grid-template-columns: repeat(2, auto);
            }
    
        }
    }
}