.team {
    text-transform: uppercase;
    overflow: hidden;

    .team-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background-image: url('../../../assets/images/team-back.gif');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .team-leaf-bottom {
            position: absolute;
            bottom: 448px;
            right: 144px;
        }

        .team-leaf-top {
            position: absolute;
            top: 448px;
            left: 144px;
        }

        .team-header {
            text-align: center;
            padding-top: 56px;
            padding-bottom: 100px;

            .team-header-label {
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                padding-bottom: 32px;
                /* identical to box height */
                
                
                color: rgba(217, 217, 217, 0.6);
            }

            .team-header-title {
                font-weight: bold;
                font-size: 72px;
                line-height: 83px;
                color: #D9D9D9;

                .team-header-highlight {
                    color: #38B6FF;
                }
            }
        }

        .team-cards {
            display: grid;
            grid-template-columns: repeat(2, auto);
            padding: 0px 200px;
            padding-bottom: 160px;
            row-gap: 200px;

            .team-card {
                text-align: center;

                .team-card-avatar {
                    padding-bottom: 32px;
                }

                .team-card-title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: #D9D9D9;

                }
            }

        }
    }
}

@media (max-width: 1440px) {
    .team {
    
        .team-container {
            .team-leaf-bottom {
                bottom: 30vw;
                right: 10vw;
            }
    
            .team-leaf-top {
                top: 30vw;
                left: 10vw;
            }
    
            .team-cards {
                padding: 0px 10vw;
                padding-bottom: 160px;
                row-gap: 200px;    
            }
        }
    }
}

@media (max-width: 991px) {
    
    .team {
    
        .team-container {
    
            .team-cards {
                display: flex;
                flex-direction: column;
                gap: 100px;
            }
        }
    }
}