.navbar {
    .navbar-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 72px 100px;
        padding-bottom: 0px;
        overflow: hidden;

        .logo {
            width: 200px;

            img {
                width: 100%;
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 45px;
            
            .nav-link {
                // color: #D9D9D9;
                color: rgba(217, 217, 217, 0.6);
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1440px) {
    .navbar {
        .navbar-container {
            padding: 4vw 5vw;
            padding-bottom: 0;
    
            .links {
                gap: 2.5vw;
                
                .nav-link {
                    font-size: 1.75vw;
                    line-height: 2vw;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        .navbar-container {
            padding: 72px 5vw;
            padding-bottom: 0;
    
            .links {
                display: none;
            }
        }
    }
}