.about {
    overflow: hidden;
    .about-container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-top: 112px;

        .about-title-back {
            font-weight: bold;
            font-size: 144px;
            line-height: 166px;
            color: transparent;
            -webkit-text-stroke: 1px white;
            padding-bottom: 28px;
            position: relative;
            left: -60px;
        }

        .about-cards {
            display: flex;
            flex-direction: column;
            padding-bottom: 140px;
            padding-left: 120px;
            padding-right: 120px;
            gap: 70px;
            position: relative;

            .about-card-circle-back {
                position: absolute;
                z-index: 1;
                left: 0;
                top: 400px;
            }

            .about-card-back1 {
                position: absolute;
                z-index: 1;
                right: 208px;
                top: 440px;
            }

            .about-card {
                z-index: 1;
                display: grid;
                grid-template-columns: repeat(2, 50%);

                .about-card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .about-card-title {
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 55px;

                        color: #38B6FF;
                        padding-bottom: 40px;
                    }

                    .about-card-description {
                        font-family: 'Glacial Indifference';
                        font-size: 24px;
                        line-height: 29px;

                        color: #D9D9D9;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .about-card-content-control {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        
                        .about-card-content-button {
                            display: inline-block;
                            background: #38B6FF;
                            border-radius: 20px;
                            padding: 16px 60px;
                            font-size: 24px;
                            line-height: 28px;
                            color: #FFFFFF;
                            cursor: pointer;
                        }

                    }
                }

                .about-card-image {
                    .about-card-image-shark {
                        display: inline-block;
                        position: relative;
                        
                        .about-card-new-image {
                            right: -32px;
                            top: -32px;
                            position: absolute;
                        }
                    }
                }

            }

            .about-card:first-of-type {
                .about-card-content {
                    padding-right: 80px;
                }

                .about-card-image {
                    text-align: center;
                }
            }

            .about-card:first-of-type {
                .about-card-content {
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .about {
        .about-container {
    
            .about-cards {
                padding-left: 5vw;
                padding-right: 5vw;
                gap: 5vw;
    
                .about-card-circle-back {
                    top: 25vw;
                }
    
                .about-card-back1 {
                    right: 13vw;
                    top: 28vw;
                }
    
                .about-card {
                    .about-card-content {
    
                        .about-card-description {
                            gap: 1.7vw;
                        }
    
                        .about-card-content-control {
                            gap: 1.75vw;
                            
                            .about-card-content-button {
                                padding: 1.1vw 2vw;
                            }
    
                        }
                    }
                }
    
                .about-card:first-of-type {
                    .about-card-content {
                        padding-right: 5vw;
                    }
                }
            }
        }
    }
}