.about {
    .about-title-back {

    }

    .about-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 140px;
        padding-left: 120px;
        padding-right: 120px;
        gap: 70px;
        
        .about-card {
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .about-card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .about-card-title {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 55px;

                    color: #38B6FF;
                    padding-bottom: 40px;
                }

                .about-card-description {
                    font-size: 24px;
                    line-height: 29px;

                    color: #D9D9D9;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .about-card-content-control {
                    .about-card-content-button {
                        display: inline-block;
                        background: #38B6FF;
                        border-radius: 20px;
                        padding: 16px 60px;
                        font-size: 24px;
                        line-height: 28px;
                        color: #FFFFFF;
                    }

                }
            }

            .about-card-image {
            }

        }

        .about-card:first-of-type {
            .about-card-content {
                padding-right: 60px;
            }

            .about-card-image {
                text-align: center;
            }
        }

        .about-card:first-of-type {
            .about-card-content {
                justify-content: flex-start;
            }
        }
    }
}